{% extends 'base-port.html' %}

{% block title %} About {% endblock %}

{% block body %}

<h1>This is the about page</h1>
<h1>Annie Ausen</h1>
<div class="container-fluid">
    <div class="row">
    
        <div class="col-6">
            <p>Annie Ausen previously worked as a freelance orchestral musician where 
                she focused on honing her skill set independently along with bringing 
                those skills together in a large group setting. While Annie enjoyed that 
                work, she loves the challenge of using those skills in a new way. Annie 
                loves breaking things down into small parts, fixing something, seeing 
                the result of putting it back together into something larger. Annie is 
                looking to combine her love for creating and her programing skills into 
                a full stack software engineer position. 
            </p>
        </div>

        <div class="col-6">

            <img src="static/img/headshot.jpg" alt="headshot" class="headshot">

        </div>
    </div>
</div>
{% endblock %}