{% extends 'base-port.html' %}

{% block title %} Home {% endblock %}

{% block body %}


<div class="jumbotron jumbotron-fluid">
    <div class = "jumbotron bg-cover img-fluid" >
        <div class="container">
        <h1 class="display-4">Annie Ausen</h1>
        <p class="lead">Software Engineer | Orchestral Musician</p>
        <hr class="my-4">
        <p>An inspirational quote that will make everyone want to click into my website</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
        </div>
    </div>
  </div>
{% endblock %}