{% extends 'base-port.html' %}

{% block title %} Projects {% endblock %}

{% block body %}
<h1>Projects</h1>
<div class="container col-3">
    <p>
        Toss It! is a web application that allows users
        to search and save foods they have in their home
        and will notify the user when it is no longer safe to eat.
    </p>
    <div class="btn-group" role="group">
        <a href="/homepage" target="_blank" rel="noopener noreferrer">
            <label for="Toss-it">
                <img class="select-img toss-it rounded" src="/static/img/tossitlogoname.png" alt="Toss-it">

            </label>
        </a>
    </div>
</div>

{% endblock %}